<header class="header">
    <h1 class="logoName">Welbex</h1>
    <div class="blockHeaderUser">
        <p class="nameUser"> </p>
        <button class="buttonAuth"><a href="/logout">Выйти</a></button>
        <button class="buttonAuth"><a href="/login">Войти</a></button>
        <button class="buttonRegistry"><a href="/register">Зарегистрироваться / Войти</a></button>
    </div>
</header>