<header class="header">
    <a href="/" style="text-decoration: none;"><h1 class="logoName">Welbex</h1></a>
    <div class="blockHeaderUser">
        <p class="nameUser"> </p>
        <button class="buttonAuth"><a href="/user" style="text-decoration: none;">Мой блог</a></button>
        <button class="buttonAuth"><a href="/logout" style="text-decoration: none;">Выйти</a></button>
    </div>
</header>