<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="registry.css" type="text/css">
    <title>All blogs | Welbex</title>
</head>
<body>
    <header class="header">
        <a href="/" style="text-decoration: none;"><h1 class="logoName">Welbex</h1></a>
    </header>
    <div>
        <div class="blog">
            <div class="authContainer">
                <form action="register" method="post" class="auth">
                    <div class="loginContainer">
                        <h3 class="login">login</h3>
                        <input class="loginInput" type="text" placeholder="Login" name="user_name" required>
                    </div>
                    <div class="passwordContainer">
                        <h3 class="password">password</h3>
                        <input class="passwordInput" type="text" placeholder="Password" name="password" required>
                    </div>
                    <button class="loginButton" type="submit">Sign Up</button>
                </form>
            </div>
            <a class="login" style="text-decoration: none" href="/login">Уже есть аккаунт?</a>
        </div>
    </div>
</body>
</html>