<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./user.css" type="text/css">
    <title>All blogs | Welbex</title>
</head>
<body>
    <header class="header">
        <h1 class="logoName">Welbex</h1>
        <div class="blockHeaderUser">
            <p class="nameUser">Name User</p>
            <button class="buttonAuth">Выйти</button>
        </div>
    </header>
    <div>
        <div class="blog">
            <div class="posts">
                <div class="addPost">
                    <div class="textPost">
                        
                    </div>
                </div>
                <div class="allPosts">
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>